{% extends 'master' %}

{% block content %}
 	<section class="main">
 		<div class="columns">
 			<div class="column is-one-third"></div>
 			<div class="column is-one-third">
 				<nav class="panel">
				  <p class="panel-heading has-text-centered">
				  	Social Auth
				  </p>
				  <a href="facebook/login" class="panel-block">
				    <span class="panel-icon">
				      <i class="fa fa-facebook"></i>
				    </span>
				    Facebook
				  </a>

				  <a href="instagram/login" class="panel-block">
				    <span class="panel-icon">
				      <i class="fa fa-instagram"></i>
				    </span>
				    Instagram
				  </a>

				  <a href="twitter/login" class="panel-block">
				    <span class="panel-icon">
				      <i class="fa fa-twitter"></i>
				    </span>
				    Twitter
				  </a>

          <a href="google/login" class="panel-block">
				    <span class="panel-icon">
				      <i class="fa fa-google"></i>
				    </span>
				    Google
				  </a>

          <a href="github/login" class="panel-block">
				    <span class="panel-icon">
				      <i class="fa fa-github"></i>
				    </span>
				    Github
				  </a>

          {% if profile %}
          <div class="panel-block">
            <a href="profile" class="button is-link is-outlined is-fullwidth">
              User profile
            </a>
          </div>
          {% endif %}
				</nav>
 			</div>
 			<div class="column is-one-third"></div>
 		</div>
 	</section>
{% endblock %}
