{% extends 'master' %}

{% block content %}
	<section class="main">
		<section class="container">
			<div class="columns">
				<div class="column is-one-third" style="text-align: center;">
					<img style="border-radius: 100%; width: auto; max-height: 120px;" src="{{avatar}}">
					<h4 class="title is-4 has-text-centered">Avatar</h4>
					<br><br>
				</div>

				<div class="column">
					<h3 class="title is-3">User info</h3>
					<hr>
					<table class="table is-striped is-fullwidth">
						<tbody>
							<tr>
								<td>
									<strong>Username</strong>
								</td>
								<td>
									{{username}}
								</td>
							</tr>
							<tr>
								<td>
									<strong>Email</strong>
								</td>
								<td>
									{{email}}
								</td>
							</tr>
							<tr>
								<td>
									<strong>Nickname</strong>
								</td>
								<td>
									{{nickname}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>
	</section>
{% endblock %}
